* {
    margin: 0%;
    padding: 0%;
}

.animation {
    background-color: white;
}

.assis {
    padding-left: 23%;
}

.robot {
    margin-top: -35%;
    margin-left: 35%;
    z-index: 2;
    animation-name: robot;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes robot {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0px);
    }
}

.disppear {
    animation: vanish 5s both;
}

@keyframes vanish {
    100% {
        opacity: 0.9;
        visibility: hidden;
    }
}

.mess {
    margin-top: -28%;
    margin-left: 16%;
    animation-name: message;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes message {
    from {
        transform: rotateX(-13deg) translateX(-500px);
    }

    to {
        transform: rotateX(0deg) translateX(0px);
    }
}

.robo {
    margin-top: -30%;
    margin-left: 7%;
    animation-name: robot1;
    animation-duration: 35s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes robot1 {
    0%{
        transform: rotateZ(12deg) translateY(2000px);
    }
    25%{
        transform: rotateZ(-6deg) translateY(-300px);
    }
    75%{
        transform: rotateZ(9deg) translateY(500px);
    }
    100%{
        transform: rotateZ(-10deg) translateY(0px);
    }
}